* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow: hidden;
}

/* HERO SECTION */
.hero {
    display: flex;
    height: 100vh;
}

/* LEFT PANEL */
.left-panel {
    width: 40%;
    background: #1f1f1f;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;   /* Align content to top */
}


/* TOP BAR */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    border: 2px solid white;
    padding: 5px 8px;
    font-weight: bold;
}

.logo-text {
    font-weight: 600;
    letter-spacing: 2px;
}

.free-badge {
    background: #d4af37;
    color: black;
    font-size: 12px;
    padding: 2px 6px;
    margin-left: 5px;
}

/* MENU ICON */
.menu span {
    display: block;
    width: 20px;
    height: 2px;
    background: white;
    margin: 5px 0;
}

/* HERO CONTENT */
.hero-content {
    margin-top: 30px;
    margin-bottom: auto;
}


.hero-content h1 {
    font-size: 55px;
    font-weight: 800;
    line-height: 1.2;
}

.subtitle {
    margin: 30px 0;
    color: #d4af37;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.6;
}

/* BUTTON */
.contact-btn {
    padding: 15px 35px;
    background: transparent;
    border: 1px solid #d4af37;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #d4af37;
    color: black;
}



/* RIGHT IMAGE */
.right-image {
    width: 60%;
    background: url("/assets/main1.jpg") no-repeat center center/cover ;
    background: url("/assets/main2.jpg") no-repeat center center/cover ;
    background: url("/assets/main3.jpg") no-repeat center center/cover ;
    
}
